
p{font-family: 'Domine', serif; font-size: 120%; margin-left: 150px;width: 600px;word-wrap: break-word; font-style:bold;}
body{background-color:#c8ef80;}
h1{color: crimson; margin-left: 130px;text-shadow: 0px 1px #000000;}
.logo{font-style: italic; font-size:120%; margin-left: 15px;}
.resume{font-style: italic; font-size:120%; margin-left: 15px;color:red}
a:{color:red;}
a:visited{color:turquoise;}
a:hover{font-style:italic;}
h2{font-size:10px; margin-left: 15px;}
h3{margin-left;}
.update{margin-left:15px;}


.me{
	font-family: 'Domine', serif;
	font-weight:normal;
}


.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
	box-shadow: 5px 5px #888888;
	margin: 15px;
    padding: 0 30%;
	margin-bottom:20px;
	font-family: 'Domine', serif;
	font-size:110%;
	text-shadow: 1px 1px #888888;
	border-style:double;
	
}


.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  
  left: 50%;
  transform: translate(-50%, -200%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.logo:hover .image {
  opacity: 0.3;
}

.logo:hover .middle {
  opacity: 1;
}

.logo {
	background-color:#000000;
    border: 1px solid black;
    width: 320px;
	font-family: 'Domine', serif;
	font-weight:normal;
}

div.desclogo {
	position:relative;
	width:auto;
	height:auto;
	color: white;
	font-size: 16px;
}


div.poke {
	background-color:#000000;
    border: 1px solid black;
	margin:15px;
    width: 320px;
	font-family: 'Domine', serif;
	font-weight:normal;
}

.poke:hover .image {
  opacity: 0.3;
}

.poke:hover .middle {
  opacity: 1;
}


div.descpoke {
	position:relative;
	width:auto;
	height:auto;
	color: white;
	font-size: 16px;
}

a:hover + div.descpoke {
	display:block;
}

div.visual {
	background-color:#000000;
    width: 320px;
	margin:15px;
	font-family: 'Domine', serif;
	font-weight:normal;
}

.visual .image {
  
}
.visual:hover .image {
  opacity: 0.3;
}

.visual:hover .middle {
  opacity: 1;
}
div.descvis {
	position:relative;
	width:auto;
	height:auto;
	color: white;
	font-size: 16px;
}

a:hover + div.descvis {
	display:block;
}
div.collider {
	background-color:#000000;
    width: 320px;
	margin:15px;
}

.collider:hover .image {
  opacity: 0.3;
}

.collider:hover .middle {
  opacity: 1;
}
div.desccol {
	position:relative;
	width:auto;
	height:auto;
	color: white;
	font-size: 16px;
}

a:hover + div.desccol {
	display:block;
}

div.pong {
    width: 320px;
	margin:15px;
}

@media screen and (max-width: 480px) {
body div li{background-color:red; 
margin:0;
display: block;  
margin-bottom: 3px;
}
body div a{
display:block;
padding:10px;
text-align:center;
}
}


#navlist
{
padding: 3px 0;
margin-left: 0;
border-bottom: 1px solid #778;
font: bold 12px Verdana, sans-serif;
}

#navlist li
{
list-style: none;
margin: 0;
display: inline;
}

#navlist li a
{
padding: 3px 0.5em;
margin-left: 3px;
border: 1px solid #778;
border-bottom: none;
background: #CCFFCC;
text-decoration: none;
}

#navlist li a:link { color: #448; }
#navlist li a:visited { color: #667; }

#navlist li a:hover
{
color: #000;
background: #33CC33;
border-color: #227;
}

#navlist li a#current
{
background: white;
border-bottom: 1px solid white;
}

footer{
width:100%;
background-color:#c8ef80;
text-align: center;
position: fixed;
bottom: 0;
}

.mySlides{
	display: none;
}
.mySlides img {
	
	vertical-align: middle;
}

.models:hover .image {
  opacity: 0.3;
}

.models:hover .middle {
  opacity: 1;
}

/* models */
.models {
  max-width: 1000px;
  position: absolute;
  float:right;
  padding:15px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}



.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
} 

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.clearfix {
    overflow: auto;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}